.textbox-container {
  font-family: Arial;
  font-size: 2.5rem;
  position: fixed;
  margin-left: 10vw;
  bottom: 30px;
  width: 80vw;
  height: 200px;
  border: 4px solid lightgray;
  border-radius: 10px;
  background-color: black;
}

.text-container {
  margin: 10px;
  color: white;
}
